.js-clock{
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: black 1px 2px 2px;
    font-weight: lighter;
}
.form
{
    display: none;
    text-align: center;
}
.greetings
{   display: none;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 2px 2px;
    font-family: 'Arvo', serif;
    font-weight: bold;
}
.toDoForm,
.toDoList{
    display: none;
}
.showing
{
    display : block;
}
.js-toDoList{
    display: table;
    color : black;
    font-size: 10px;
    font-weight: bold;
}
ul{
    list-style:none;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.listbox_name{
    list-style: square;
    color: white;
  margin-right: 20px;
}
.weather{
    text-align: right;
    position: absolute;
    color: white;
    text-shadow: black 1px 2px 2px;
}
li{
    padding-top: 7px
}
.input-text {
    width: 300px;
    background-image: linear-gradient(to right, #000, #000);
    background-position: 5px calc(100% - 5px);
    background-size: calc(100% - 10px) 2px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px solid;
    padding: 10px;
    color: white;
  }
  input::placeholder{
      color :white;
  }
  .strikethrough{
    text-decoration: line-through;
    font-size: 15px;
  }
  input[type=checkbox]:checked + span.strikethrough{
    text-decoration: line-through;
  }

  .delBtn{
    
    border-radius: 50%;
    border: 0px solid;
    opacity: 0.8;
}
.delBtn:hover{
    opacity: 1;
}
h3,h1{
    display:inline;
}

h3{
    font-size: 25px;
}
.center-position{
    
    position: absolute;
    left: 35%;
    top : 25%
}
.look{
    display: none;
}

.checkbox{
    background-color:rgba(192, 187, 187, 0.575);
    
    opacity: 0.6;
    width: 180px;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    border-radius: 0px 0px 0px 20px;
    font-size: 13px;
}

.checkbox:hover{
    background-color:white;
    opacity: 0.8;
}
.checkbox_look{
    visibility: visible;
}
.title{
    background-color: rgb(26, 24, 24);
    width: 180px;
    height: 30px;
    opacity: 0.9;
    color: white;
    text-align: center;
    font-size: 8px;
    line-height:30px;
    border-radius: 20px 0px 0px 0px;
}
.title:hover{
    background-color: black;
    opacity: 0.9;

}
.list{
    
    position: absolute;
    top:-80px;
    left:600px;
}
.Info{
    position: absolute;
    left: 30px;
    top: 0px;
    width: 100px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-weight:normal;
    font-size: 10px;
}
.Appinfo{
    
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
}
.bold{
    font-weight: bold;
}
.etc{
    
    position: absolute;
    left: 88%;
    top: 90%
}