.js-clock{
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: black 1px 2px 2px;
    font-weight: lighter;
}
.form
{
    display: none;
    text-align: center;
}
.greetings
{   display: none;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 2px 2px;
    font-family: 'Arvo', serif;
}
.toDoForm,
.toDoList{
    display: none;
}
.showing
{
    display : block;
}
.js-toDoForm{
    text-align: center;
}
.js-toDoList{
    display: table;
    color : white;
    font-size: 10px;
}
ul{
    list-style:none;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.listbox_name{
    list-style: square;
    color: white;
  margin-right: 20px;
}
.weather{
    text-align: right;
    position: absolute;
    color: white;
    text-shadow: black 1px 2px 2px;
}
li{
    padding-top: 7px
}
.input-text {
    width: 300px;
    background-image: linear-gradient(to right, #000, #000);
    background-position: 5px calc(100% - 5px);
    background-size: calc(100% - 10px) 2px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px solid;
    padding: 10px;
    color: white;
  }
  input::placeholder{
      color :white;
  }
  .strikethrough{
        
    font-size: 15px;
  }
  input[type=checkbox]:checked + span.strikethrough{
    text-decoration: line-through;
  }

  .delBtn{
    
    border-radius: 50%;
    border: 0px solid;
    opacity: 0.2;
}
.delBtn:hover{
    opacity: 1;
}
h3,h1{
    display:inline;
}

h3{
    font-size: 25px;
}
.center-position{
    
    position: absolute;
    left: 35%;
    top : 30%
}